/*
!/tags
/tags/*
!/tags/ai
!/tags/aife
!/tags/camera
!/tags/cinematics
!/tags/cursors
!/tags/dragonsoul
!/tags/dw3
!/tags/effects
!/tags/globals
!/tags/halo3
!/tags/incompetent
!/tags/lacks
!/tags/multiplayer
!/tags/objects
!/tags/phanrev
!/tags/rasterizer
!/tags/reports
!/tags/objects
!/tags/scenarios
!/tags/shaders
# !/tags/sound/
# !/tags/sound_remastered
# !/tags/stacker
# !/tags/temp_scenario
# !/tags/test
# !/tags/ui



# !/tags/ludantes
# !/tags/blackandfan
# !/tags/d_flog_flag
# !/tags/d_flog_flag_ports
# !/tags/digsite
# !/tags/kashiiera
# !/tags/h1
# !/tags/stacker
# !/tags/scenarios
# /tags/scenarios/*
# !/tags/scenarios/solo
# /tags/scenarios/solo/*
# !/tags/scenarios/solo/03a_oldmombasa
# !/data
# /data/*
# !/data/scenarios
# /data/scenarios/*
# !/data/scenarios/solo
# /data/scenarios/solo/*
# !/data/scenarios/solo/03a_oldmombasa

!/init.txt
!/collect_tag_list.py
!/TODO.txt
!/versions.txt
!/editor_init.txt

/*.zip
/*.7z
/*.rar
/h2_maps_win64_dx11/*
# tags\dw3\scenarios\solo\07a_highcharity\07a_highcharity_high_4_lightmap_bitmaps.bitmap
# C:\Program Files (x86)\Steam\steamapps\common\H2EK\tags\objects\weapons\zoephie\infinite_weapons\objects\weapons\support_high\skewer\zoephs_bitmaps\receiver_lower
