/*
!/tags
/tags/*
!/tags/ludantes
!/tags/blackandfan
!/tags/d_flog_flag
!/tags/d_flog_flag_ports
!/tags/digsite
!/tags/kashiiera
!/tags/h1
!/tags/scenarios
/tags/scenarios/*
!/tags/scenarios/solo
/tags/scenarios/solo/*
!/tags/scenarios/solo/03a_oldmombasa


!/init.txt
!/editor_init.txt
!/collect_tag_list.py